header {
    z-index: 1;
}

.cards {
    width: 90%;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-container img {
    width: 148%;
    transform: translate(-16.1%);
}

.img-container {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    transition: 0.5s ease;
}

.cards a {
    width: 48%;
    margin: 10px;
    font-size: 2em;
    color: rgb(114, 163, 255);
    text-decoration: none;
    display: block;
    background-color: #182019;
    border: 2px solid rgb(0, 141, 0);
    border-radius: 20px;
    text-align: center;
    transition: 0.2s ease;
}

.cards a:hover {
    background-color: #0f2913;
}

.cards a:hover .img-container {
    width: 85%;
}

@media screen and (max-width:700px) {
    .cards a {
        width: 95%;
    }
}